useDynLib(GNET2)

export(build_module)
export(build_moduleR)
export(calc_likelihood_score)
export(get_correlation_list)
export(assign_gene)
export(gnet)
export(kneepointDetection)
export(plot_gene_group)
export(plot_group_correlation)
export(plot_tree)

importFrom(Rcpp, evalCpp)
importFrom(DiagrammeR,create_node_df)
importFrom(DiagrammeR,create_edge_df)
importFrom(DiagrammeR,create_graph)
importFrom(DiagrammeR,add_global_graph_attrs)
importFrom(DiagrammeR,render_graph)
importFrom(grid,grid.newpage)
importFrom(grid,pushViewport)
importFrom(grid,viewport)
importFrom(grid,grid.layout)
importFrom(grid,unit)
importFrom(reshape2,melt)
importFrom(stats,cor)
importFrom(stats,dnorm)
importFrom(stats,sd)
importFrom(stats,lm)
importFrom(stats,kmeans)
importFrom(stats,predict)
importFrom(matrixStats,colSds)
importFrom(graphics,plot)
importFrom(graphics,lines)
importFrom(methods,is)
importFrom(ggplot2,ggplot)
importFrom(ggplot2,aes_string)
importFrom(ggplot2,geom_tile)
importFrom(ggplot2,scale_x_discrete)
importFrom(ggplot2,geom_tile)
importFrom(ggplot2,scale_fill_gradient)
importFrom(ggplot2,theme)
importFrom(ggplot2,labs)
importFrom(ggplot2,element_blank)
importFrom(ggplot2,element_line)
importFrom(ggplot2,element_text)
importFrom(SummarizedExperiment,SummarizedExperiment)
importFrom(SummarizedExperiment,assay)
importFrom(xgboost,xgb.DMatrix)
importFrom(xgboost,xgb.train)
importFrom(xgboost,xgb.importance)