import(Rcpp)
import(ggplot2)
import(reshape2)
import(grid)
import(scales)
import(DiagrammeR)
exportPattern("^[[:alpha:]]+")
useDynLib(GNET2)

export(build_module)
export(build_moduleR)
export(calc_likelihood_score)
export(get_correlation_list)
export(gnet)
export(kneepointDetection)
export(plot_gene_group)
export(plot_group_correlation)
export(plot_tree)
