useDynLib(GNET2)

export(build_module)
export(build_moduleR)
export(build_split_table)
export(build_moduleR_heuristic)
export(calc_likelihood_score)
export(get_correlation_list)
export(gnet)
export(kneepointDetection)
export(plot_gene_group)
export(plot_group_correlation)
export(plot_tree)
export(extract_edges)
export(save_gnet)

importFrom(Rcpp, evalCpp)
importFrom(DiagrammeR,create_node_df,create_edge_df,create_graph,add_global_graph_attrs,render_graph)
importFrom(grid,grid.newpage,pushViewport,viewport,grid.layout,unit)
importFrom(reshape2,melt)
importFrom(stats, dist, hclust, var,cor,dnorm,lm,kmeans,predict,sd)
importFrom(matrixStats,colSds)
importFrom(graphics,plot,lines)
importFrom(methods,is)
importFrom(ggplot2,ggplot,aes_string,geom_tile,scale_x_discrete,scale_fill_gradient,theme,labs,
           element_blank,element_line,element_text)
importFrom(SummarizedExperiment,assay,SummarizedExperiment)
importFrom(xgboost,xgb.DMatrix,xgb.train,xgb.importance,xgb.dump)
importFrom(dplyr,group_by_,summarise_all,"%>%")
importFrom(igraph, graph_from_edgelist,get.edgelist)
importFrom(grDevices, tiff,dev.off)
importFrom(utils, write.csv)

